.aboutUs_content_without_sidebar{
    padding: 30px 30px 30px 30px;
    min-height: calc(100vh - 70px);
}
.BGimg {
    /* width: 80%;
    height: 80%; */
    margin-left: 0px;
    width: 40%;
    height: auto;
    /* margin-top: 80px; */
    /* margin-left: 0; */
  }
  .BGimgCol{
    direction: ltr;
    display: flex;
    align-items: flex-start;}
    .infoDivAboutUs{
        padding-top: 200px;
        padding-right:80px;
        direction: rtl;
        font-size: 18px;
    }