.bg{
    background-color: #27293d;
    width: 70vw;
    margin-top: 5vh;
    margin-right: 20px;
    border-radius: 15px;
    height: 90vh;
    margin-bottom: 20px;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}
.Responce{
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-bottom: 1vw;
    height: 80vh;
    overflow-y: auto;

}
@media only screen and (max-width: 620px) {
    .bg{
        height: 80vh;
        width: 80vw;
        margin: 0;
        margin-top: 10px;
        padding: 10px;
        
    }
    .Responce{
        height: 65vh;
        width: 70vw;
        padding-top: 10px;
    }
}