@import './../../css/black-dashboard-react.css';

.timeline {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 4vw 0 0;
  height: 90vh;
  border-radius: 15px;
  position: sticky;
}
.tabs {
  border-radius: 15px;
}


.activeTab {
  width: 20vw;
  height: 40px;
  border: none;
  border-bottom: 3px solid var(--purple) ;
  background-color: initial;
  color: white;
}

.tab {
  width: 20vw;
  height: 40px;
  border: none;
  background-color: initial;
  color: white;
  margin: 30px 20px;
}

.reply{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 0 0 4vw;
    height: 90vh;
    border-radius: 15px;
    position: sticky;
    
}

.content{
  flex-grow: 1;
}

.sendMessage{
  margin: 0 0 10px 0;
}


/* Add more styles as needed */