@import './../../css/black-dashboard-react.css';

.timeline {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 50vw;
  /* margin-right: 4vw; */
  height: 90vh;
  border-radius: 15px;
  position: sticky;
}

.tabs {
  border-radius: 15px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  overflow: hidden;
}

.tweetsContainer {
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  overflow-y: scroll;
}

.activeTab {
  width: 10vw;
  height: 40px;
  border: none;
  border-bottom: 3px solid var(--purple);
  background-color: initial;
  color: white;
  margin: 20px 10px;
}

.tab {
  width: 10vw;
  height: 40px;
  border: none;
  background-color: initial;
  color: white;
  margin: 20px 10px;
}

/* 
.timeline {
  width: 95%;
  display: inline;
  justify-content: center;
} */


/* Add more styles as needed */