.timeline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-top: 100px; */
  width: 50vw;
  /* margin-right: 4vw; */
  height: 90vh;
  /* margin: 0px auto; */
  border-radius: 15px;
  background-color: #272A3D;
  position: sticky;
}
.tabs {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 800px;
  margin: 0 auto;
  

  background-color: #373C57; */
  border-radius: 15px;

}
.tweet {
  /* display: flex;
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  margin: 10px;
  padding: 10px;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px; */ 
}
.tweetsContainer{
  display: flex;
  flex-direction: column;
  max-height: 74vh;
  overflow-y: scroll;
  
  /*  width: 800px; */
}
.activeTab {
  width: 10vw;
  height: 40px;
  border: none;
  border-bottom: 3px solid #67539E ;
  background-color: #272A3D;
  color: white;
  margin: 20px 10px;
}

.tab {
  width: 10vw;
  height: 40px;
  border: none;
  background-color: #272A3D;
  color: white;
  margin: 20px 10px;
}

/* Add more styles as needed */
