.search_box{
    margin: 0.7rem;
    width: 91% !important;
    display: block;
}

.lessons_in_searchBox{
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.button_lessons:hover{
    cursor: pointer;
    background-color: #32325d;
}
.selectedL{
    background-color: #2c3857;
}
