.lessonSidebar_component {
  height: 28vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #27293d;
  /* margin-top: 1rem; */
  border-radius: .5rem;
  padding-top: .8rem;
  margin-top: 1rem;

}

.sidebar[data="normal"],
.off-canvas-sidebar[data="normal"] {
  background: none;
  box-shadow: none;

}

.lessonSidebar_component-lessons 
{
  overflow-y: hidden;
  
  background-color: #27293d;
  /* margin-top: 1rem; */
  border-radius: .5rem;
  padding-top: .8rem;
  margin-top: 1rem;
  height: 56vh;
}

.nav-link-lessonSidebar:hover{
  background-color: #32325d;

}

.nav-lessonSidebar{
  
  height: 55px ;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #27293d;
  /* margin-top: 1rem; */
  border-radius: .5rem;
}
.nav-img{
  border-radius: 50%;
  width: 35px;
  float: right;
}
.brand-name{
  float: right;
}