.eventsCard{
    width: 260px !important;
    height: 230px;
}

.eventsCardHeader{
    display: flex;
    justify-content: space-between; 
}

.eventsCardBody{
    padding: 12px;
}

.inputBox{
    display: flex;
    flex-direction: row;
    
}
.hidden{
    display: none;
}
.addEvent{
    display: block;
}
td{
    color: white !important;
}

#dateTimePicker {
    border: 1px solid ; 
    border-color: #2b3553;
    border-radius: 0.4285rem;
    font-size: 0.75rem;
    height: calc(2.25rem + 2px);
    padding: 0.5rem 0.7rem;
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    
}
#dateTimePicker:focus {
    border-color: #e14eca;
    outline: none;
}
.JDatePicker {
    background:#2b3553!important;
    border: 1px solid #e14eca;
    color: rgba(255, 255, 255, 0.8);
    width: 250px;
}

.JDatePicker .JC-days {
    background: #2b3553!important;
}

.JDatePicker .month-items.selected {
    background: transparent !important;
    color: #b056c2 !important;
}

.JDatePicker .month-items {
    color: rgba(255, 255, 255, 0.8);
    border: none !important;
}

.JDatePicker .month-items:hover {
    color: rgb(240, 106, 240) !important;
}

.day-items:hover {
    background: #A057DB !important;
}

.day-items.selected {
    background: #A057DB !important;
} /* */


.JDatePicker .monthPicker {
    background: #2b3553!important;
}
.JDatePicker button {
    color: black !important;
    font-size: 14px!important;
    width: 45px!important;
    height: 26px!important;
}
.JDatePicker .JDheader .right input[type="tel"] {
    background: inherit !important;
    color: inherit !important;
}