.row{
    margin: 0 0px !important;
}
/* .table{
    table-layout: fixed
    ;
} */

.Table_first_column{
    border-right: none !important;
}

.Table_first_row > td{
border-top: none !important;
}

.Table_last_row > td{
border-bottom: none !important;
}

/* .table td{
    border-top: none;
    border-right: 0.0625rem solid #e3e3e3;
}  */
.exam-card-body{
    padding: 0px 0 !important;
}
.chart1{
    background: url(../../assets/img/ExamChartBack5.png);
    background-size: 100% 100%;
    min-width: 60rem;
    height: 60vh;
    position: relative;
    background-repeat: no-repeat;
    resize: both;
    /* overflow: visible !important; */

}
/* .course :hover{
    color: rebeccapurple;
} */

.exam, i .exam{
    position: absolute;
    height: 14%;
    width: 4.8%;
    background-color:#1d8cf8 ;
    top:20%;
    right:13%;/* 10.7 */
    border-radius: 5%;
    color: white;
    opacity: 0.75;
    justify-content: center;
    font-size: 0.66rem;
    padding: 0.3rem;
}

.exam:hover{
    cursor: pointer;
}

.select{
    background-color: #344675;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    color: white;
}
/* 
.exam_hover ::before{
    display: inline-block;
    position: absolute;
    align-items: center;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: -5px;
    right: 45%;
    color: #1d8bf86d;
    border-radius: 10rem;
    border-bottom: 0.4em solid ;
    border-right: 0.7em solid transparent;
    border-left: 0.7em solid transparent;
} */

.exam_hover{
    background: #1d8bf887;
    width: 110px;
    height: auto;
    border: none;
    color: white;
    position: absolute;
    top:100%;
    right: -50%;
    border-radius: 1.4rem;
    z-index: -1;
    padding: 0.5rem;
    margin-top: 5px;
    display: none;
   line-height: 1.5rem;
   font-size: 0.7rem;
}
.dir-left{
    direction: ltr;
}
