.verification_code_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: ltr !important;
}
.codeSpot{
    width: 2.1875rem;
    height: 35px;
    margin: 0.625rem;
    border-color: #2b3553;
    border-radius: 0.4285rem;
    font-size: 0.75rem;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
}
.signUpContainer{
    margin-top: 120px !important;
    direction:rtl;
    
  }