.ChangePassRow{
    
    width: 35%;
    display: flex;
    align-items: 'center';
    flex: 1;
    justify-content: 'center';
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
}
.ChangePassCard{
    align-items: 'center';
    flex: 1;
    justify-content: 'center';

    /* margin-right: 300px; */
    /* margin-left: 300px; */
    /* margin-top: 50px; */
    /* padding-left: 5%;
    padding-right: 5%; */

    width: 50%;
    /* background-color: red; */

}

@media only screen and (max-width: 890px ){
    .ChangePassRow{
        width: 45%;
    }

}
@media only screen and (max-width: 600px ){
    .ChangePassRow{
        width: 65%;
    }
    .ChangePassCard{
        padding-left: 2%;
        padding-right: 2%;
    }
    

}
@media only screen and (max-width: 450px ) {
    .ChangePassRow{
        width: 90%;
    }

}