/* .LandingPageFirstDiv{
    margin: "auto";
    padding: "10% 35% 10% 15%";
    color: "Red";
}
.bigblue {
    color: DodgerBlue;
    padding: 90px;
    font-family: Arial;
    text-align: center;
  } */

/* body {
    background-color: #282c34;
    color: red;
    padding: 40px;
    font-family: Arial;
    text-align: left;
} */
/* header{
    text-align: center;

}
body{
    text-align: center;
} */