.LandingPageRow{
    text-align: center;
}
.div-1 {
    margin: auto;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    color: white;
    direction: rtl;
    /* background-image: "../img/stadium.jpg";
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%; */
}
.div-2 {
    font-size: 70px;
    text-align: center;
}
.div-3{
    font-size: 44px;
    text-align: right;
}

@media only screen and (max-width: 890px ){
    .div-2{
        font-size: 60px;
    }
    .div-3{
        font-size: 38px;
    }

}
@media only screen and (max-width: 600px ){
    .div-2{
        font-size: 40px;
    }
    .div-3{
        font-size: 25px;
    }
}
@media only screen and (max-width: 450px ) {
    .div-2{
        font-size: 30px
    }
    .div-3{
        font-size: 20px;
    }

}