.loginLmsModal{
    background: #27293d;

}
.card-header{
    background-color: transparent!important;
}
.card-footer{
    background-color: transparent!important;
}
.loginLmsModalBody{
    padding: 0 !important;
}
