.loginLmsRow{
    margin-top: 10%;
    width: 30%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.loginLmsCard{
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 890px ){
    .loginLmsRow{
        width: 45%;
    }

}
@media only screen and (max-width: 600px ){
    .loginLmsRow{
        width: 65%;
    }
    .loginLmsCard{
        padding-left: 2%;
        padding-right: 2%;
    }
    

}
@media only screen and (max-width: 450px ) {
    .loginLmsRow{
        width: 90%;
    }

}
