@import "./black-dashboard-react.css";

.Modal {
    backdrop-filter: blur(2px);
}

.ModalContents {
    border-radius: 10px;
    background-color: rgb(50, 55, 80);
    /* background: rgb(50, 55, 80);
    background: linear-gradient(180deg, rgba(39, 41, 61, 1) 20%,
            rgba(50, 55, 80, 1) 88%, rgba(109, 54, 114, 1) 95%, rgba(143, 62, 140, 1) 100%); */
    color: var(--white) !important;
}

.ModalHeader {
    margin-top: 20px;
    justify-content: center;
    color: var(--white);
}

.ModalBody {
    margin-top: -20px;
    height: 30vh;
    color: var(--white) !important;
}


p {
    color: var(--white) !important;
    /* margin-top: 20px !important; */
}

.bodyContent {
    height: 30vh;
    overflow-y: auto;
    padding-left: 0px;
    margin-top: 20px;
}

.leftpart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;

    height: 93vh;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}