@import "./black-dashboard-react.css";

.Modal {
    backdrop-filter: blur(2px);
    margin-top: 20px;
}


.ModalHeader {}

.ModalBody {
    height: 30vh;
    color: var(--white) !important;
}


p {
    color: var(--white) !important;
    /* margin-top: 20px !important; */
}

.bodyContent {
    height: 30vh;
    overflow-y: auto;
    padding-left: 0px;
    margin-top: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    height: 83vh;
    margin-top: -20px;
}