@import "./black-dashboard-react.css";

:root {
    overflow-y: hidden;
    /* background-color: var(--dark); */
}

.main {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    /* background-color: #1e1e1e; */
    /* background-color: var(--dark); */
    /* overflow-y: hidden; */
}

.leftpart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    border-radius: 10px;
    height: 90vh;
    margin-top: 5vh;
    margin-left: 30px;
    margin-right: 30px;
}

.rightUpper {
    flex-grow: 1;
    width: 25vw;
    /* background-color:var(--gray-dark); */
    /* background-color: #373C57; */
    background: rgb(39, 42, 61, 1);
    /* background: linear-gradient(180deg, rgba(39,42,61,1) 54%, rgba(109,54,114,1) 89%, rgba(143,62,140,1) 100%); */
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    /* z-index: -1; */
}

.rightUpper::before {
    content: "";
    position: absolute;
    top: -250px;
    left: 20;
    /* width: calc(55% + 10px); */
    width: 180px;
    /* height: 150%; */
    height: 1000px;
    transform: rotate(85deg);
    background-color: rgba(143, 62, 140, 0.5);
    /* background-color: rgba(137, 101, 224, 0.5); */
    z-index: 0;
    /* mix-blend-mode: multiply; */
}

.rightpart {
    width: 900px;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    gap: 30px;
    background-color: #272A3D;
    /* background-color:var(--gray-dark); */
    /* margin-left: 30px; */
    margin-right: 30px;
}

.ProfileHeader_Content {
    position: relative;
    z-index: 1;
    color: var(--white);
}


.ProfileImage {
    /* border: 2px solid #272A3D; */
    /* box-sizing: border-box; */
    height: 180px;
    width: 180px;
    margin-top: 10px;
    border-radius: 50%;
    /* clip-path: circle(50% at 50% 50%); */
}


.Followes {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    padding-top: 5px;
}

.Followes_Count {
    margin-right: 10px;
}

.Following_Follower:hover {
    cursor: pointer;
    scale: 1.2;
}

.myusername {
    text-align: center;
    direction: ltr;
    /* cursor: pointer; */
    font-weight: bold;
    margin-top: 5px;
}

.p_name {
    margin-top: 15px;
}

.Follow {
    display: flex;
    font-size: 12px;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    /* cursor: pointer; */
}

.DateStart {
    margin-top: 15px;
    font-size: 9px;
}

.followbutton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    /* background-color: #67539E;
    color: white;
    border: 1px solid #67539E; */
    background-color: var(--purple);
    color: var(--white);
    border: 1px solid var(--purple);
    font-size: 12px;
    /* margin-right: 30px; */
}

.followbutton:hover {
    /* background-color: #67539E;
    color: white;
    border: 1px solid white; */
    background-color: var(--purple);
    color: var(--white);
    border: 1px solid var(--white);
}

.followbutton:active {
    /* background-color: #67539E;
    color: white;
    border: 1px solid white; */
    background-color: var(--purple);
    color: var(--white);
    border: 1px solid var(--white);
}

.table {
    width: 776px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #373C57; */
    background-color: var(--gray-dark);
    margin: 30px auto;
    border-radius: 15px;
    text-align: center;
    /* color: white; */
    color: var(--white);
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #373C57; */
    background-color: var(--gray-dark);
    margin: 30px auto;
    border-radius: 15px;
    text-align: center;
    /* color: white; */
    color: var(--white);
    width: 776px;
    height: 91px;
}

/* .timeline{

} */

.ProfileHeader_Other {
    margin: 30px;
    margin-top: 100px;
    /* margin: 70px 70px; */
    margin-bottom: 10px;
    border: 3px solid #67539E;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
    /* cursor: pointer; */
    padding: 20px 25px;
}

.ProfileHeader_Other_Item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--purple);
}


@media only screen and (max-width: 1064px) {
    .leftpart {
        display: none;
    }
    .rightpart {
        margin-left: 5vh;
    }
}

@media only screen and (max-width: 620px) {
    .main {
        flex-direction: column-reverse;
    }

    .rightpart {
        max-width: 90vw;
        max-height: 80vh;
        /* margin: 2.5vw; */
    }
}