@import "../css/black-dashboard-react.css";

.bg {
  width: 250px;
  margin-top: 5vh;
  margin-right: 20px;
  border-radius: 15px;
  height: 90vh;
}

.bg1 {
  width: 100%;
  background-color: #27293d;
  border-radius: 15px;
  height: 90vh;
  padding: 5px;
  min-width: 70px;
}
.icon{
  font-size: 30px;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
}
.logoimg{
  width: 40px;
  margin-right: 1.5vw;
}
.headertext {
  margin-top: 40px;
  font-size: 20px;
}

.sidebarmenuItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  align-items: center;
  gap: 4vw;
  padding-right: 2vw;
  border-radius: 15px;
  cursor: pointer;
}
.items{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2vh;
}

.sidebarmenuItems:hover {
  background-color: var(--box);
}

.click {
  cursor: pointer;
}

/* .itemtext {
  margin-top: 20px;
  font-size: 13px;
  cursor: pointer;
} */

@media only screen and (max-width: 1500px) {
  .bg {
    width: 10vw;
    /* margin-top: 4vh; */
    margin-right: 5vw;
  }

  .bg1 {
    /* width: 80px; */
  }

  .itemtext {
    display: none;
  }
  
  .headertext {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  .logoimg{
    margin: 0;
  }
  .sidebarmenuItems{
    padding: 0px;
    justify-content: space-around;
  }
  
}

.dropDownToggle {
  /* background-color: red !important; */
  padding: 10px 20px !important;
  align-items: center !important;
}

.dropDownToggle:hover {
  background: initial !important;
  box-shadow: none !important;
}

.notifCount {
  background-color: rgb(190, 1, 95);
  color: white;
  border-radius: 1rem;
  font-size: 12px;
  vertical-align: top;
  margin-bottom: 15px;
  padding: 2px;
  padding-top: 1px;
  opacity: 0.9;
}

@media only screen and (max-width: 620px) {
  .bg {
    width: 80vw;
    height: 4rem;
    /* margin-bottom: 0;
    margin-top: 1vh; */
    margin-right: 10px;
    margin: 10px auto;
  }

  .logoimg{
    margin-right: 10px;
  }
  .bg1 {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: inherit;
    justify-content: space-between;
    z-index: 1;
    padding: 0 20px;
  }

  .sidebarmenuItems {
    display: flex;
    align-items: center;
    /* padding: 0 10px; */
    min-height: 40px;
    text-align: center;
  }

  .sidebarmenuItems {
    height: inherit;
  }

  .header {
    margin: auto 0;
  }

  .sidebarmenuItemsMobileBlock {
    display: none;
  }

  .items{
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    
  }

  /* .sidebarmenuItems {
    scale: 2;
  } */
}

@media only screen and (min-width: 620px) {
  .moreInfo {
    display: none;
  } 
}
