.viewpass{
    float: left;
    margin-left: 18px;
    margin-top: -47px;
    position: relative;
    z-index: 2;
  }

#togglePassword:hover{
    cursor: pointer;
    opacity: 80%;
}

#toggleConfirmPassword:hover {
    cursor: pointer;
    opacity: 80%;
}
.card {
    border-radius: 1.3rem !important;
}
.error{
    color: red;
    font-size: smaller;
    height: 1px;
    position: relative;
    top : -10px;
  }
.select-error{
    margin-top: 10px;
    color: red;
    font-size: smaller;
}
.back-error{
    background-color: #e14eca;
    border-radius: 1.3rem;
    color: #ffffff;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.2857rem;
    text-align: center !important;
  } 