.viewpass{
    float: left;
    margin-left: 18px;
    margin-top: -47px;
    position: relative;
    z-index: 2;
  }

#togglePassword:hover{
    cursor: pointer;
    opacity: 80%;
}

#toggleConfirmPassword:hover {
    cursor: pointer;
    opacity: 80%;
}
.card {
    border-radius: 1.3rem !important;
}