.viewpass {
  float: left;
  margin-left: 18px;
  margin-top: -47px;
  position: relative;
  z-index: 2;
}

.viewpass:hover {
  cursor: pointer !important;
  opacity: 80% !important;
}

.cardStyle {
  border-radius: 0.3rem !important;
  direction: ltr !important;
}

.error {
  color: red;
  font-size: smaller;
  height: 1px;
  position: relative;
  top: -10px;
  direction: ltr;
}

.selectError {
  margin-top: 10px;
  color: red;
  font-size: smaller;
  white-space: nowrap !important;
}

.backError {
  direction: ltr !important;
  background-color: #e14eca;
  border-radius: 1.3rem;
  color: #ffffff;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.2857rem;
  text-align: center !important;
  white-space: nowrap !important;
}

.signUpContainer {
  margin-top: 25px !important;
}