.main{
    /* width: 16vw; */
    width: 85%;
    height: auto;
    /* height: 40px; */
    margin-top: 20px;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    margin-bottom: 10px;
    background-color: #444862;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
.img{
    width:45px;
    height: 45px;
    margin: 10px;
    border-radius: 50%;
}
.text{
    margin-right: 0.3vw;
    margin-top: 8px;
}