@import "./black-dashboard-react.css";

.main{
    width: 85%;
    height: auto;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.main2{
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: center;
}

.main:hover{
    background-color: var(--box);
    cursor: pointer;

}

.img{
    width:45px;
    height: 45px;
    margin: 10px;
    border-radius: 50%;
    object-fit: fill;
}
.text{
    margin-right: 0.3vw;
    margin-top: 8px;
    font-size: 0.7vw;
}
.chat{
    padding: 0.5rem;
}
.chat:hover{
    /* background:"red"; */
}