.TableCard {                        /* Main card of the page */
    margin-top: 60px;
    overflow-x: auto;
}

.CourseListContainer {           /* List of all courses */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CourseContainer {              /* Course info and button */
    display: flex;
    flex-direction: row-reverse;
    margin: 2px;
    height: 50px;
    width: 100px;
}

.Course {                   /* Course info (without button) */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: hsl(235, 22%, 30%);
    margin-top: 3px;
    font-size: x-small;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
    width: 100px;
    padding: 2px;
}

.btn-fill-AddCourseButton {             /* Add or remove course button */
    height: 100%;
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    font-size: x-small;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 3px;
    margin-bottom: -1px;
    width: 30% !important;
}



.CardBodyRow                /* Row of the Card body */
{
  display: flex;
  flex-direction: row;
}

.HomePageButtonCol
{
    /* background-color: red; */
    flex: 1;
    width: 2px;
}

.SwitchCard {
    background-color: hsl(235, 22%, 30%);
    /* margin-right: 40%; */
    /* margin-left: 40%; */
    border-radius: 10px;
    font-size: small;
    padding: 5px;
    width: 200px;
}

/* .Switch div
{
    background-color: azure;
} */

/* .react-switch-bg
{
    background-color: black; 
} */


.Switch svg {
    width: 100%;
    right: 2px;
}


.SwitchCol
{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding-right: 100px !important;
    /* padding-left: 100px !important; */
    /* padding: 100px; */
}

.SelectCol
{
    /* background-color: green; */
    flex: 3;
}
/* @media only screen and (max-width: 1600px ) {
    .CourseContainer
    {
        height: 30px;
    }
} */
/* @media only screen and (max-width: 800px ) {
    .CourseContainer
    {
        height: 30px;
        width: 100px;
    }
} */

/* .ClassesTable
{
    border: 1px solid;
} */
/* 
.table-head
{
    border: 1px solid;
} */
.TableROW {
    border: 3px solid;
    /* color: rgb(82,95,127); */
    color: rgb(61, 63, 81);
}

.CoursesPanel_column2 {
    /* column-width: 1000px; */
    border: 3px solid;
    /* color: rgb(82,95,127); */
    vertical-align: top !important;
    /* padding: 1000px; */
}


.MainCardHeader
{
    position: relative;
}

.HomeButton
{
    width: 100px;
    /* color: aliceblue; */
    /* background-color: rgb(102, 83, 160); */
    /* background-color: transparent; */
    /* border-color: rgb(200, 78, 202); */
    border-radius: 5px;
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: -50px;
    
}
.panelContainer{
    margin-top: 300px;
}