.Course{
    text-align: center;
    background-color: hsl(235, 22%, 30%);
    border: 1px solid rgb(67, 59, 99);
    margin-top: 3px;
    font-size: x-small;
    border-radius: 5px;
}

.TopRow {
    text-align: left;
}



.CoursesPanel_column2 {
    border: 1px solid;
}

tbody{
    border: 1px solid hsl(235, 22%, 30%);
}

.btn-fill-AddCourseButton
{
    background-color: rgb(0, 191, 255);
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    font-size: x-small;
    margin: 5px;
    border-radius: 5px;
}

.btn-fill-RemoveCourseButton
{
    background-color: rgb(253,93,147);
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    font-size: x-small;
    margin: 5px;
    border-radius: 5px;
}

.CoursesPanel_TableRow
{
    width: 2000px !important;
}

.table-head
{
    column-width: 1000px;
}

.CoursesPanel_column2
{
    column-width: 1000px;
}

.Switch
{
    width: 50%;
}