.TopRow {
    text-align: left;
}

.TableCard
{
    margin-top: 20px;
    overflow-x: auto;
}

.CoursesPanel_column2 {
    border: 1px solid;
}

tbody{
    border: 3px solid hsl(235, 22%, 30%);
}

.CourseListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.CourseContainer {
    display: flex;
    flex-direction: row-reverse;
    margin: 2px;
    height: 50px;
    width: 100px;
}

.Course{
    height: 100%;
    text-align: center;
    background-color: hsl(235, 22%, 30%);
    margin-top: 3px;
    font-size: x-small;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
}

.btn-fill-AddCourseButton
{
    height: 100%;
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    font-size: x-small;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 3px;
    margin-bottom: -1px;
}


.SwitchCard
{
    background-color: hsl(235, 22%, 30%);
    /* margin-right: 40%; */
    /* margin-left: 40%; */
    border-radius: 10px;
    font-size: small;
    padding: 5px;
}

/* .Switch div
{
    background-color: azure;
} */

/* .react-switch-bg
{
    background-color: black; 
} */

.Switch svg
{
    width: 100%;
    right: 2px;
}

/* @media only screen and (max-width: 1600px ) {
    .CourseContainer
    {
        height: 30px;
    }
} */
/* @media only screen and (max-width: 800px ) {
    .CourseContainer
    {
        height: 30px;
        width: 100px;
    }
} */

/* .ClassesTable
{
    border: 1px solid;
} */
/* 
.table-head
{
    border: 1px solid;
} */
.TableROW
{
    border: 3px solid;
    /* color: rgb(82,95,127); */
    color: rgb(61,63,81);
}
.CoursesPanel_column2
{
    column-width: 1000px;
    border: 3px solid;
    /* color: rgb(82,95,127); */
}

/* .HomeButton
{
    background-color:black;
} */
