
.UserPage_first_column{
    border: none;
}

.table td{
    border-top: none;
    border-right: 0.0625rem solid #e3e3e3;
}

.chart{
    background: url(../../assets/img/chart3.png);
    background-size: 100% 100%;
    min-width: 60rem;
    height: 30em;
    position: relative;
    background-repeat: no-repeat;
    resize: both;

}

.course{
    position: absolute;
    height: 2.3rem;
    width: 5rem;
    background-color:#1d8cf8 ;
    top:20%;
    right:13%;/* 10.7 */
    border-radius: 5%;
    color: white;
    opacity: 0.75;
    justify-content: center;
    font-size: 0.66rem;
    padding-top: 0.4rem;
}

.course:hover{
    cursor: pointer;
}

.select{
    background-color: #344675;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    color: white;
}
