
.UserPage_first_column{
    border: none;
}

.table td{
    border-top: none;
    border-right: 0.0625rem solid #e3e3e3;
}

.chart{
    background: url(../../assets/img/chart3.png);
    background-size: 100% 100%;
    min-width: 60rem;
    height: 30em;
    position: relative;
    background-repeat: no-repeat;
    resize: both;

}

.course, i .course{
    position: absolute;
    height: 2.3rem;
    width: 5rem;
    background-color:#1d8cf8 ;
    top:20%;
    right:13%;/* 10.7 */
    border-radius: 5%;
    color: white;
    opacity: 0.75;
    justify-content: center;
    font-size: 0.66rem;
    padding-top: 0.4rem;
    height: 3rem;
}

.course:hover{
    cursor: pointer;
}

.select{
    background-color: #344675;
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 1rem;
    color: white;
}

.lesson_button{
    background: none;
    border: none;
    color: white;
    position: absolute;
    right: 0;
    top:0;
    z-index: 1;
    display: none;
}


.courseCard{
    /* background-color: hsl(256, 45%, 50%)!important; */
    /* border-width: 5px; */
    /* background-color: transparent; */
    /* border: solid !important; */
    border-color: rgba(227, 49, 243, 0.527) !important;
    color: rgb(199, 193, 193) !important;
    width: 20rem !important;
    height: 6.5625rem;
    margin-left: 15px;
}
.courseCardBody{
    justify-items: center;
    align-items: center;
    padding: 0px ;
    display: flex;
    flex-direction: row;
}

.courseGroupCard{
    /* align-items: flex-start ; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* align-content: space-between; */
    flex-wrap: wrap;
    height: 45vh;
    overflow: auto;
    /* justify-content: center; */
    padding-left: 0 !important;

}
div{
    text-align: center;
}

.professorImage{
    width: 3.4375rem;
    height: 3.4375rem;
    margin-left: 0.625rem;
    border-radius: 4.6875rem;
    overflow: "hidden";
    border-width: 0.1875rem;
    border-color: "red";
}
.color{
    width: 23%;
    height: 5rem;
    border: none;
    justify-content: center;
    align-items: center;
    color :inherit;
    margin-top: 0.3125rem;
    /* background-color:hsl(266, 55%, 54%) */
    
}
p{
    color: inherit;
}


.userpageFirstComponent{
    height: 50%;
}
.fullLogo{
    /* width: 20px; */
    height: 40px;
    margin-right: auto;
}
.courseCardDownSide{
    display: flex;
    direction: row;
    padding-right: 15px;
    justify-content: right;
}
.infoPart{
    width: 100%;
}