.courseProfileModal {
   max-width: 55% !important;
}

.modalBack {
   background: linear-gradient(180deg, rgba(30, 30, 47, 1) 0%,
         rgba(39, 41, 61, 1) 75%,
         rgba(65, 36, 79, 1) 98%,
         rgba(255, 32, 172, 1) 100%) !important;
}

.modalHeader {
   padding-top: 0px !important;
   direction: rtl !important;
}

.ModalLessonCourseCard {
   background-color: transparent !important;
   box-shadow: none !important;
   height: 60vh;
   margin-top: 15px;
}

.ModalLessonCourse .modal-dialog {
   margin: -15rem auto !important;
}


.btnGroup {
   display: inline-block !important;
}

.ModalCourseCardBody {
   justify-items: center;
   padding: 0px;
   display: flex;
   flex-direction: row;
   font-size: 15px;
}

.ModalProfessorImage {
   margin-top: 0px;
   /* margin-right: 5px; */
   width: 85px;
   height: 85px;
   margin-left: 0.5rem;
   overflow: "hidden";
   border-width: 0.1875rem;
   /* border-radius: 4.6875rem; */
}

.dirLeft {
   direction: ltr !important;
}

.courseText {
   color: #C7C1c1;
}

.courseTitle {
   display: inline-block;
   color: #525f7f !important;
   font-weight: 300;
}

.btnSpan {
   padding: 0;
   margin: 0;
}

.modalLessonBtn {
   border: none !important;
   color: #C7C1c1 !important;
   border-bottom: 1.5px solid #c7c1c1 !important;
   background: transparent !important;
   margin: 0 3px !important;
   padding: 4px 14px !important;
   font-size: 13px !important;
   line-height: 1.35em !important;
   font-weight: 600 !important;
}

.modalLessonBtn:hover {
   border-bottom: 1.5px solid #a0227e !important;
}

.modalLessonBtnActive {
   background: transparent !important;
   background-color: transparent !important;
   color: #FFF !important;
   margin: 0 3px !important;
   padding: 4px 14px !important;
   font-size: 14px !important;
   line-height: 1.35em !important;
   font-weight: 600 !important;
   border: none !important;
   border-bottom: 2px solid #ff20ac !important;
}

.courseTitleNotInline {
   color: #525f7f !important;
   font-weight: 300;
}

.ModalLessonDataCard1 {
   padding-top: 5px;
   margin-top: 10px;
   background-color: transparent !important;
   box-shadow: none !important;
   width: 100% !important;
   margin-right: 0px !important;
   /* height: 130px; */
}

.ModalLessonDataCard2 {
   margin-top: 10px;
   background-color: transparent !important;

   box-shadow: none !important;
   width: 100% !important;
   margin-right: 0px !important;
   /* height: 130px; */
}

.ModalLessonDataCard3 {
   margin-top: 15px;
   margin-right: 10px !important;
   background-color: transparent !important;
   box-shadow: none !important;
   width: 100% !important;
}

.ModalLessonInfoPart {
   width: 90%;
   justify-content: center;
   padding-right: 0px;
}


.loginLmsModalBody {
   padding: 0 !important;
}