.courseProfileModal {
   max-width: 75% !important;
}

.ModalLessonCourse .modal-dialog {
   margin: -15rem auto !important;
}

.ModalLessonCourse .card-body {
   height: 80vh;
   overflow: auto;
}

.modalBack {
   background: linear-gradient(180deg, rgba(30, 30, 47, 1) 0%,
         rgba(39, 41, 61, 1) 75%,
         rgba(65, 36, 79, 1) 98%,
         rgba(255, 32, 172, 1) 100%) !important;
}

.modalHeader {
   padding-top: 0px !important;
   direction: rtl !important;
   /* display: contents; */
}

.btnGroup {
   display: inline-block !important;
}


.ModalLessonCourseCard {
   background-color: transparent !important;
   /* border-color: #ab69b1 !important; */
   /* color: #dddddd !important; */
   box-shadow: none !important;
   height: 420px;
   margin-top: 15px;
}

.ModalCourseCardBody {
   justify-items: center;
   padding: 0px;
   display: flex;
   flex-direction: row;
   font-size: 15px;
}

.ModalProfessorImage {
   margin-top: 0px;
   /* margin-right: 5px; */
   width: 90px;
   height: 90px;
   margin-left: 0.5rem;
   overflow: "hidden";
   border-width: 0.1875rem;
   /* border-radius: 4.6875rem; */
}

.dirLeft {
   direction: ltr !important;
}

.courseText {
   color: #C7C1c1;
}

.courseTitle {
   display: inline-block;
   color: #525f7f !important;
   font-weight: 300;
}

.modalLessonBtn {
   border: none !important;
   color: #C7C1c1 !important;
   border-bottom: 1.5px solid #c7c1c1 !important;
   background: transparent !important;
   margin: 0 3px !important;
   border-radius: .2857rem !important;
}

.modalLessonBtn:hover {
   border-bottom: 1.5px solid #344675 !important;
}

.modalLessonBtn:active {
   background: transparent !important;
   background-color: transparent !important;
   color: #ff20ac !important;
   border-bottom: 1.5px solid #a0227e !important;
   background-image: none !important;
}

.courseTitleNotInline {
   color: #525f7f !important;
   font-weight: 300;
}

.ModalLessonDataCard1 {
   padding-top: 5px;
   margin-top: 10px;
   background-color: transparent !important;

   box-shadow: none !important;
   width: 100% !important;
   margin-right: 0px !important;
   height: 130px;
}

.ModalLessonDataCard2 {
   margin-top: 10px;
   background-color: transparent !important;

   box-shadow: none !important;
   width: 100% !important;
   margin-right: 0px !important;
   height: 130px;
}

.ModalLessonDataCard3 {
   margin-top: -5px;
   background-color: transparent !important;
   box-shadow: none !important;
   width: 100% !important;
   margin-right: 0px !important;
}

.ModalLessonInfoPart {
   width: 90%;
   justify-content: center;
   padding-right: 0px;
}


.loginLmsModalBody {
   padding: 0 !important;
}