@import "../black-dashboard-react.css";
.ParentContain {
    display: flex;
}
.contain{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    width: 100vw;
}

.admin{
    flex-grow: 1;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.adminRow {
    display: flex;
    justify-content: space-between;
}

.adminBox{
    height: 43vh;
    display: flex;
    flex-grow: 1;
    border-radius: 15px;
    margin: 10px;
}

.adminChart{
    height: 43vh;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 10px 20px 10px;
    padding: 10px;
    border-radius: 15px;
}

@media only screen and (max-width: 620px) {
    .ParentContain {
        display: flex;
        max-height: 100vh;
        flex-direction: column-reverse;
    }
    .adminSidebar {
        flex-shrink: 0;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
    }
    .contain {
        flex: 1;
        margin-bottom: 5px;
        overflow-y: scroll;
    }
    .adminRow {
        flex-direction: column;
        width: 100%;
    }
    .admin {
        margin-top: 0;
        margin-left: 0;
        margin: 10px auto;
        width: 80vw;
    }
    .adminChart{
        margin: 0 0 20px 0;
    }
    .adminBox{
        margin: 0 0 20px 0;
    }
}
