@import "../black-dashboard-react.css";
.contain{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
}

.admin{
    flex-grow: 1;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 90%;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-left: 10px; */
}

.adminRow {
    display: flex;
    justify-content: space-between;
}

.adminBox{
    height: 43vh;
    display: flex;
    /* justify-content: space-evenly; */
    flex-grow: 1;
    margin: 10px;
    /* width: 90%; */
}

.adminChart{
    height: 43vh;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;
}

@media only screen and (max-width: 541px) {
    .contain {
        flex-direction: column;
        overflow-y: scroll;
        max-height: 100vh;
    }
    .adminRow {
        flex-direction: column;
        width: 90%;
    }
    .admin {
        margin-top: 0;
        margin-left: 0;
    }
    /* .admin {
        overflow: scroll;
    } */
}
