@import './../../css/black-dashboard-react.css';

.Users_List {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 90vh;
  border-radius: 15px;
  position: sticky;
  max-height: 45vh;
  padding: 0px 20px;
}
.tabs {
  border-radius: 15px;
  margin-top: 0px;
}

.Users_Container{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* width: 60vh; */
}

.activeTab {
  width: 10vw;
  height: 40px;
  border: none;
  border-bottom: 3px solid var(--purple) ;
  background-color: initial;
  color: white;
  margin: 20px 10px;
}

.tab {
  width: 10vw;
  height: 40px;
  border: none;
  background-color: initial;
  color: white;
  margin: 20px 10px;
}


.User_img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.User_Container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding-left: 15px;
    /* background-color: inherit; */
    transition: background-color 0.3s;
}

.User_Container:hover {
    background-color: var(--box);
}

.User_name{
    /* margin-top: 10px; */
    margin-left: 0px;
    color: var(--white) !important;
}

/* .Users_Container .tweet {
  background-color: red;
} */