@import "../../assets/css/black-dashboard-react.css";
.navbar .navbar-nav{
    width: 80%;
    direction: rtl ;
}
.navbar-nav li{
    width: 100%;
    margin: 2px;
    padding: 0;
}
.navbar-nav li :hover{
    color: rgb(230, 63, 154);
}

.rtl .navbar .navbar-nav a.nav-link{
    direction: rtl !important;
    
    margin: 0;

}
.dropdown nav-item{
    width: 30%;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: rgb(230, 63, 154);

}
.logoutLink{
    cursor: pointer;
}
.wideNavbar{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.navbar .wideNavbar .nav-item .nav-link.selected {
    color: rgb(230, 63, 154);
    /* background-color: #17a2b8;
    border-radius: 0.25rem; */
  }

.navbar-absolute {
    margin:-120px;
}
.NavItem {
    max-height: 10%;
}

.DropdownItem 
{
    color: var(--gray) !important;
}

.Dropdown
{
    display: none;
    /* position: fixed; */
}

.Collapse_Main {
    display: flex;
    /* flex-direction: column; */
}


.DropdownMenu {
    z-index: 100;
}


@media only screen and (max-width: 541px) {
    .wideNavbar {
        display: flex !important;
        flex-direction: row !important;
    }
    .Dropdown
    {
        display: block;
    }
    .NavbarRes {
        margin-bottom: 5px;
    }
}

/* @media  only  screen and (max-width: 1000px){
    .h2custom{
      font-size: 1.3rem;
    } 
    .shop_card {
      margin-top: 20px;
    }
    .shop_row {
      flex-direction: column;
    } 
    .professorImage {
      margin-right: 0px;
    }
  }
  @media  only  screen and (min-width: 1200px){
    .box{
      height: 700%;
    }
    
  } */